
# next-pwa generated
public/sw.js
public/sw.js.map
public/workbox-*.js
public/workbox-*.js.map
public/worker-*.js
public/worker-*.js.map
public/swe-worker-*.js
public/swe-worker-*.js.map
public/fallback-*.js
